.outerB{
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 35%;
  float: left;
  height: 250px;
  margin-top: 10px;
  margin-left: 75px;
  border-radius: 10px;
  background-color: #ffffff;
}


.App-link {
  color: #09d3ac;
}

.button {
  margin-top: 10px;
  background-color: #6B8E23;
  height: 50px;
  width: 200px;
  border-color: #ffffff;
  border-style: solid;
  margin-bottom: 10px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.disappear{
  display: none;
}

.forms{
  margin-top: 10px;
  padding-bottom: 20px;
}

.Table {
  margin-top: 100px;
}

.template{
  background-color: #f2f4f6;
}

.back{
  background-color: #f2f4f6;
  text-align: center;
  height: 1000px;
}

.column {
  float: left;
  width: 75%;
  text-align: center;
  border-style: solid;
  border-color: #a9a9a9;
  border-width: 1px;
  background-color: #ffffff;
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 50px;
  height: 100px;
}

.columnL {
  float: left;
  width: 75%;
  text-align: center;
  border-style: solid;
  border-color: #a9a9a9;
  border-width: 0px;
  background-color: #ffffff;
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 50px;
  height: 100px;
}

.column1 {
  float: right;
  width: 35%;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-color: #000000;
  border-width: 1px;
  background-color: #ffffff;
  margin-right: 75px;
  margin-top: 10px;
}

.column1a {
  float: right;
  width: 35%;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-color: #000000;
  border-width: 1px;
  background-color: #ffffff;
  margin-right: 75px;
  margin-top: -160px;
}

.column12 {
  float: right;
  width: 35%;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-color: #000000;
  border-width: 1px;
  background-color: #ffffff;
  margin-right: 75px;
  margin-top: -40px;
}

.line {
  width: 85%;
}

.stayL{
  margin-bottom: -35px;
  margin-left: -275px;
}
.stayL2{
  float: left;
  margin-top: 5px;
  margin-left: 35px;
}

.stayR{
  margin-right: -297px;
  
}
.stayR2{
  margin-right: -200px;
}

.headerR{
  background-color: #ffffff;
  margin-top: 10px;
  margin-left: 75px;
  margin-right: 75px;
  border-style: solid;
  border-width: 1px;
  height: 250px;
}

.header{
  background-color: #ffffff;
  border-style: solid;
  width: 70px;
  height: 30px;
  border-width: 1px;
  margin-left: 460px;
  margin-top: -10px;
  border-radius: 10px;
  background-color: #000000;
  color: #ffffff;
}


.nameC{
  float: left;
  margin-left: 25px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  width: 15%;
  height: 25px;
}

.nameA{
  float: left;
  margin-left: 100px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  width: 15%;
  height: 25px;
}

.nameS{
  margin-left: 550px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  width: 15%;
  height: 25px;
}

.nameT{
  float: right;
  margin-top: -27px;
  margin-right: 25px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  width: 15%;
  height: 25px;
}

.image{
  width: 75px;
  height: 75px;
  float: left;
  text-align: left;
  margin-left: 45px;
  margin-top: 10px;
}

.row {
  flex: width;
  background-color: #000000;
  height: 10000px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  border-style: solid;
  border-color: #00000;
}

leftBoxes{
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}

titlestyle: {
  color: '#ffffff';
  textAlign: 'center';
  flex: 1;
}
titlebackground: {
  backgroundColor: '#101010';
  marginTop: -50;
}
centertitle:{
  left: 0;
}

 container: {
    flex: 1;
    backgroundColor: '#101010';
    alignItems: 'center';
    justifyContent: 'center';
  }
  logo:{
    fontWeight:"bold";
    fontSize:50;
    color:"#ffffff";
    marginBottom:40;
    textAlign: 'center';
  }
  inputView:{
    width:"80%";
    backgroundColor:"#465881";
    borderRadius:25;
    height:50;
    marginBottom:20;
    justifyContent:"center";
    padding:20;
  }
  inputText:{
    height:50;
    color:"white";
  }
  forgot:{
    color:"white";
    fontSize:11
  }
  loginBtn:{
    width:"80%";
    backgroundColor:"#fb5b5a";
    borderRadius:25;
    height:50;
    alignItems:"center";
    justifyContent:"center";
    marginBottom:20
  }
  loginText:{
    color:"white"
  }
  forgetPass:{
    color:"white";
    textDecorationLine: 'underline';
  }

  .App {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    top: 0px;
  }

  .App-logo {
    height: 40vmin;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .mb-3 { 
    background-color: #000000;
    color: #ffffff;
  }
  
  .float-left {
    float: center;
  }
  
  .nav {
    background-color: #000000;
    color: #ffffff;
  }
  
  .table{
    color: #000000;
    border-color: #ffffff;
    padding-top: 40px;
    margin-left: 0px;
  }
  
  .tabletest{
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    background-color: #ffffff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #000000;
  }
  
  

  
  
  
  .tabletest1{
    background-color: #ffffff;
    color: #000000;
  }
  
  .spacer{
    width: 10%;
  }

  
  .tableBod{
    background-color: #000000;
  }
  
  .nav1 {
    padding-top: 5px;
  }
  
  .imageDash{
    flex: center;
    margin: 10px;
    text-decoration: none;
  }
  
  .imageDash1{
    flex: center;
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .tokName{
    display: flex;
    justifyContent: center;
    alignItems: center;
  }
  
  .button1 {
    text-decoration: none;
    /*margin-top: 10px;
    background-color: #ffffff;
    height: 25px;
    width: 200px;
    border-color: #ffffff;
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 10px;*/
  }
  
  .backColor {
    background-color: #f5f7fa;
  }
  
  /*
  Maybe use for other screens
  .homeScreen {
    background-color: #f2f4f6;
    height: 1000px;
    max-width: 70%;
    margin: auto;
    margin-top: -10px;
    /*position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }*/
  
  
  .homeScreen {
    background-color: #ffffff;
    height: 1000px;
    max-width: 70%;
    margin: auto;
    margin-top: -10px;
    /*position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/

  }
  
  .homeScreen1 {
    background-color: #f2f4f6;
    max-height: 10000px;
    max-width: 70%;
    margin: auto;
    margin-top: 0px;
    /*position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/

  }
  
  .hope{
      background-color: #f2f4f6;
      max-height: 10000px;
      max-width: 80%;
      margin-top: 0px;
      margin-left: 60px;
      /*position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);*/
  }

  
  .nav {
    background-color: #000000;
    color: #ffffff;
  }
  
  .logoBar{
    background-color: #141414;
    color: #ffffff;
    width: 100%;
    top: 0;
    padding: 85px 0;
  }
  
  .table1{
    color: #ffffff;
    border-color: #ffffff;
    padding-top: 40px;
    width: 100%;
  }
  
  .tabletestH{
    color: #000000;
    width: 30%;
    text-align: center;
  }
  
  .tabletestH1{
    color: #000000;
    width: 30%;
  }
  
  .tabletestHe{
    color: #000000;
    width: 30%;
    align-items: center
  }
  .tabletestHe3{
    color: #000000;
    width: 30%;
    align-items: center
  }
  
  .tabletestHead {
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
  }
  
  .tryThis {
    max-width: 50%;
    align-content: center;
    align-text: center;
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
  }
  
  .tryThis {
    max-width: 50%;
    margin: auto;
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
  }
  
  .tryThis1 {
    max-width: 50%;
    margin: auto;
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .tryThisT {
    max-width: 50%;
    color: #000000;
    margin: auto;
    border-color: #000000;
    border-style: solid;
    border-width: 0px;
  }
  
  .tableD {
    align-self: center;
    width: 85%;
    flex: width;
    border-spacing: 0px;
  }
  
  
  .borderTab {
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
  }
  
  .accHeader {
    float: right;
  }
  
  .lil {
    border-style: solid;
    border-width: 0px;
    border-color: #0000000;
    border-radius: 8px;
    background-color: #464646;
    padding-left: 7px;
    padding-right: 7px;
  }
  
  .logoHead{
    float: top;
    margin-left: 25px;
  }
  
  .inputsL{
    border-radius: 10px;
    margin-top: 5px;
    border-color: #f2f4f6;
  }
  
  .backBut {
     position:absolute;
      width:69.5%;
      height:35px;
      background:#464646;
      top:225px;
      right:50%;
      left:27.75%;
      margin-left:-150px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-style: solid;
      border-color: #464646;
  }